ul {
    list-style: none;
}

.comfy {
    margin-left: 10%;
    margin-right: 20%;
}

.deck {
    margin-bottom: 3em;
}

.deckheader {
    height: 100px;
    line-height: 100px;
}

.titletext {
    margin-left: 5%;
    position: relative;
    bottom: 40%;
}

.deckname {
    font-size: 22pt;
    font-weight: bold;
}

.manasymbol {
    height: 18pt;
}

.cardtypelist {
    margin-bottom: 1em;
}

.cardtype {
    font-weight: bold;
}

.cardquantity {
    margin-right: 2%;
}

