.comfy {
    margin-left: 10%;
    margin-right: 20%;
}

.deckheader {
    height: 100px;
    line-height: 100px;
}

.deckname {
    font-size: 22pt;
    font-weight: bold;
    margin-left: 10%;
    position: relative;
    bottom: 40%;
}

