<!doctype html>
<html>
    <head>
        <title>CardKingdom's battle decks</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script> 
    </head>
    <body>
        <div class="comfy">
            <h1>List of battle decks from <a href="http://www.cardkingdom.com/catalog/shop/battle-decks">CardKingdom</a></h1>
            This page is not affiliated in any way with CardKingdom.
            <br/>
            Their battle decks are what Wizards should be selling as intro packs.
            This page is meant to help search through the deck as well as archive the old ones they are not selling anymore.
            <br/>
            <br/>
            {% for name, thumb, url, timestamp, description, colour, colours, version, active, cards in decks %}
            <div class="deck" dc="{{ colour }}">
                <div class="deckheader">
                    <img class="deckimage" src="data:image/png;base64,{{ thumb }}"/>
                    <span class="deckname titletext">{{ name }}</span>
                    <span class="deckversion titletext">(v{{ version }})</span>
                    <span class="deckcolour titletext">{{ colours|safe }}</span>
                    <span class="buylink titletext">{% if active %}<a href="{{ url }}">Buy on CardKingdom</a>{% else %}Not available on CardKingdom{% endif %}</span>
                </div>
                <br/>
                <div class="deckdescription">{{ description }}</div>
                <br/>
                <div class="deckcardlist">
                    <ul>
                        {{ cards|safe }}
                    </ul>
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
        <div class="floatmenu">
            <div class="colourfilter">
                <img id="W" class="manafilter" src="{{ url_for('static', filename='img/W.svg') }}" onclick="toggle(this)"/>
                <img id="U" class="manafilter" src="{{ url_for('static', filename='img/U.svg') }}" onclick="toggle(this)"/>
                <img id="B" class="manafilter" src="{{ url_for('static', filename='img/B.svg') }}" onclick="toggle(this)"/>
                <img id="R" class="manafilter" src="{{ url_for('static', filename='img/R.svg') }}" onclick="toggle(this)"/>
                <img id="G" class="manafilter" src="{{ url_for('static', filename='img/G.svg') }}" onclick="toggle(this)"/>
                <img id="C" class="manafilter" src="{{ url_for('static', filename='img/C.svg') }}" onclick="toggle(this)"/>
                <img id="A" class="manafilter" src="{{ url_for('static', filename='img/A.svg') }}" onclick="toggle(this)"/>
            </div>
        </div>
    </body>
</html>

