<!doctype html>
<html>
    <head>
        <title>CardKingdom's battle decks</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
    </head>
    <body>
        <div class="comfy">
            <h1>List of battle decks</h1>
            This page is not affiliated in any way with CardKingdom.
            <br/>
            Their battle decks are what Wizards should be selling as intro packs.
            This page is meant to help search through the deck as well as archive the old ones they are not selling anymore.
            <br/>
            <br/>
            {% for name, thumb, url, timestamp, description, colour, version, active, cards in decks %}
            <h1>{{ name }}</h1>
            <div>{{ description }}</div>
            <br/>
            <div>
                <ul>
                    {{ cards|safe }}
                </ul>
            </div>
            <br/>
            {% endfor %}
        </div>
    </body>
</html>

